  <left class="col m3 s12 flow-text">
    <h3 class="center-align" id="username"><a href={{user.profileUrl}}>{{user.username}}</a></h3>
    <img class="responsive-img" src= {{user._json.avatar_url}} />
    <p>Name: {{user._json.name}}</p>
    <p>Location: {{user._json.location}}</p>
    <p>Company: {{user._json.company}}</p>
    <p><a href={{user.profileUrl}}?tab=repositories>Repos:</a>
    <br> &nbsp;&nbsp;&nbsp;&nbsp;Public: {{user._json.public_repos}}
    <br> &nbsp;&nbsp;&nbsp;&nbsp;Private: {{user._json.total_private_repos}}</p>
    <p><a href={{user.profileUrl}}?tab=followers>Followers: </a>{{user._json.followers}}</p>
    <p><a href={{user.profileUrl}}?tab=following>Following: </a>{{user._json.following}}</p>
    <a class="waves-effect waves-light btn" id="edit-profile">Edit</a>
    <a class="waves-effect waves-light btn" id="edit-logout" href="/logout">Logout</a>
  </left>
  <right class="col m9 s12">
    <!-- Cards for team members -->
    {{#each g32ers}}
      <div class="col s12 m6 l4 flow-text">
        <div class="card medium" id="card-style">
          <h3 class="center-align" id="card-name">{{name}}</h3>
          <div class="card-image responsive-img">
            <img src="{{avatar}}" alt="GitHub avatar" />
          </div>
          <div class="card-content">
            <h3 class="center-align" id="gh-user-name"><a href='/profile/{{username}}'>{{username}}</a></h3>
          </div>
        </div>
      </div>
    {{/each}}
  </right>
</div>
