  <left class="col s12 m3 flow-text">
    <h3 class="center-align" id="profile-headers"><a href=https://github.com/{{user.login}}>{{user.login}}</a></h3>
    <img class="responsive-img" src={{user.avatar_url}} />
    <p>Name: {{user.name}}</p>
    <p>Location: {{user.location}}</p>
    <p>Company: {{user.company}}</p>
    <p>Public Repos: <a href="https://github.com/{{user.login}}?tab=repositories">{{user.public_repos}}</a></p>
    <p><a href="https://github.com/{{user.login}}?tab=followers">Followers: </a>{{user.followers}}</p>
    <p><a href="https://github.com/{{user.login}}?tab=following">Following: </a>{{user.following}}</p>
    <a class="waves-effect waves-light btn" id="home-profile" href="/index">Home</a>
    <a class="waves-effect waves-light btn" id="profile-logout" href="/logout">Logout</a>
  </left>
  <right class="col s12 m9">
    <div id="repos"></div>
  </right>
<script src="../js/profile.js"></script>
