  <left class="col s2">
    <h3 class="center-align"><a href={{user.profileUrl}}>{{user.username}}</a></h3>
    <img class="responsive-img" src={{user._json.avatar_url}} />
<<<<<<< HEAD
=======
    <p id="username"><a href={{user.profileUrl}}>{{user.username}}</a></p>
>>>>>>> trying ajax calls
    <p>Display Name: {{user._json.name}}</p>
    <p>Located In: {{user._json.location}}</p>
    <p>Company: {{user._json.company}}</p>
    <p><a href={{user.profileUrl}}?tab=repositories>Repos:</a><br>
    &nbsp;&nbsp;Public: {{user._json.public_repos}}<br>
    &nbsp;&nbsp;Private: {{user._json.total_private_repos}}</p>
    <p><a href={{user.profileUrl}}?tab=followers>Followers: </a>{{user._json.followers}}</p>
    <p><a href={{user.profileUrl}}?tab=following>Following: </a>{{user._json.following}}</p>
  </left>
  <right class="col s10">
    <div id="github-repos">

    </div>
  </right>

</profile>
<script src="./js/profile.js"></script>
<script type="text/javascript">
  $(() => {
    $("#github-repos").loadRepositories({{{user.username}}})
  })
</script>
