  <left class="col s2">
    <h3 class="center-align"><a href=https://github.com/{{user.login}}>{{user.login}}</a></h3>
    <img class="responsive-img" src={{user.avatar_url}} />
    <p>Display Name: {{user.name}}</p>
    <p>Located In: {{user.location}}</p>
    <p>Company: {{user.company}}</p>
    <p>Public Repos: <a href="https://github.com/{{user.login}}?tab=repositories">{{user.public_repos}}</a></p>
    <p><a href="https://github.com/{{user.login}}?tab=followers">Followers: </a>{{user.followers}}</p>
    <p><a href="https://github.com/{{user.login}}?tab=following">Following: </a>{{user.following}}</p>
    <a class="waves-effect waves-light btn" id="home-profile" href="/"><i class="material-icons"></i>Home</a>
    <a class="waves-effect waves-light btn" id="profile-logout" href="splash"><i class="material-icons"></i>Logout</a>
  </left>
  <right class="col s10">
    <div id="repos"></div>
  </right>
<script src="../js/profile.js"></script>
